* {
  box-sizing: border-box;
  margin: 0;
}

@keyframes contact_image {
  from {
    background-color: #7fcde2;
  }
  to {
    transform: scale(1.2, 1.2);
    background-color: #91ef6f;
  }
}

@keyframes t2b {
  from {
    top: 0;
  }
  to {
    top: 45px;
  } 
  /* 0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;} */
}

#welcome-section {
  height: 90vh;
  text-align: center;
  padding-top: 200px;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-left: 30px solid black;
  border-right: 30px solid black;

}

.characters{
  animation: t2b 4s ease-in-out;
  color: rgba(152, 108, 202, 0.562);
  position: relative;
}

.charWrap{
  position: relative;
}



.img_div{
  padding-top: 5px;
}
.img_div a {
  text-decoration: none;
}

.contact_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.5s;
}

.contact_img_border {
  border: 1px solid #9f9f9f;
}

.contact_img:hover {
  animation: contact_image 3s;
}

.medium_img {
  border: 2px solid black;
  border-radius: 50%;
  width: 47px;
  height: 47px;
}

#work {
  width: 100%;
}

#projects {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.project_tile {
  border: 1px solid black;
  flex: 1;
  min-width: 45%;
  height: 240px;
  text-align: center;
  color: black;
  text-decoration: none;
  box-shadow: 2px 2px 15px 8px #141519;
  margin: 20px;
}

.project_tile:hover {
  transform: scale(150%);
  background-color: white;
}

.text {
  font-weight: bold;
  color: black;
  margin-top: 30px;
  font-size: 2em;
}

a:hover .text {
  display: none;
}
/* .Conference_Papers:hover {
  background-color: white;
  background-image: url("https://i.imgur.com/pbe6DSe.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top;
} */

.project_img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s;
  margin-top: 20px;
}

.project_tile:hover .project_img {
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.project_img:hover {
  transform: scale(1.2, 1.1);
}

.project_text {
  display: none;
  font-size: 18px;
  padding: 10px;
  color: black;
  /* font-weight: bold; */
  /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  -webkit-text-stroke: 0.2px #5ef6f3; */
}

.project_tile:hover .project_text {
  display: block;
  margin-top: 10px;
}


/* @media */
@media screen and (max-width:480px) {
  #welcome-section {
    height: 100px;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }

  #work {
    margin-top: 200px;
  }

  .project_tile {
    background: #585582;
  }
  .project_tile .text{
    color:white;
    font-size: 1.5em;
  }
}
