* {
    box-sizing: border-box;
    margin: 0;
}


#welcome-section {
    height: 500px;
    text-align: left;
    padding-top: 250px;
    padding-left: 30px;
    font-size: 2em;
}


.img_div a {
    text-decoration: none;
}

.contact_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.5s;
}

.contact_img:hover {
    transform: scale(1.2, 1.2);
    background-color: #F7AB27;
}

.medium_img {
    border: 2px solid black;
    border-radius: 50%;
    width: 47px;
    height: 47px;
}

#work {
    width: 100%;
}

#projects {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    /*background: #D6D6EA;*/
}

.project_tile {
    background: #D6D6EA;

    /*    background: linear-gradient(90deg,white,black,white,black,white,black);
*/
    /* background: url("http://getwallpapers.com/wallpaper/full/6/9/b/492796.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
*/

    border: 1px solid black;
    flex: 1;
    min-width: 45%;
    height: 240px;
    text-align: center;
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 15px 8px #141519;
    margin: 20px;
}


.project_tile:hover .project_text {
    display: block;
}

.project_tile:hover .project_img {
    opacity: 0.3;
}

.Python:hover {
    /*background: linear-gradient(to right bottom, #4CC4ED, white);*/
    /*background-color: black;*/
    background-image: url("https://image.shutterstock.com/image-illustration/python-on-cyber-background-450w-540638962.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/

}

.Tableau:hover {
    /*background: linear-gradient(to right bottom, white, #4CC4ED, black);*/
    /*background-color:black;*/
    background-image: url("https://image.slidesharecdn.com/tableau-finalpresentation-161211155749/95/tableau-presentation-1-638.jpg?cb=1481474604");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/

}

.Unity:hover {
    /*background: linear-gradient(to right bottom, #4CC4ED, white, #4AA5C0);*/
    background-color: black;
    background-image: url("http://www.stickpng.com/assets/images/58482b92cef1014c0b5e4a2d.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/

}

.Data_Analytics:hover {
    /*background: linear-gradient(to right bottom, white, #4CC4ED, black);*/
    background-color: #D1960D;
    /*https://www.colourbox.com/preview/30473738-business-data-analytics-colorful-illustration.jpg*/
    background-image: url("https://cdn4.iconfinder.com/data/icons/seo-glyph-3/614/Analysis-512.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/

}

.Information_System_Prototype:hover {
    /*background: linear-gradient(to right bottom, #4CC4ED, white, #4AA5C0);*/
    background-color: #78c665;
    background-image: url("https://cdn-images-1.medium.com/max/1600/1*u5tCByoIo7t-S4mVHoUW3w.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/

}

.HCI:hover {
    /*background: linear-gradient(to right bottom, #4CC4ED, white);*/
    /*background-color:black;*/
    background-image: url("https://www.uat.edu/themes/uat/images/mobile/icons/courseIconBS-hci.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/

}

.Certifications:hover {
    /*background: linear-gradient(to right bottom, #4CC4ED, white, #4AA5C0);*/
    /*background-color:black;*/
    background-image: url("http://www.ebm.com.pk/wp-content/uploads/2015/06/awards-backgroundimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*/*background-blend-mode: luminosity;*/

}

.Conference_Papers:hover {
    /*background: linear-gradient(to right bottom, #4CC4ED, white);*/
    /*background-color:black;*/
    background-image: url("http://www.catholiclane.com/wp-content/uploads/writing-on-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background-blend-mode: luminosity;*/
}





.project_img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
    margin-top: 20px;
}

.project_img:hover {
    transform: scale(1.2, 1.2);
}


.text {
    font-weight: bold;
    color: black;
    margin-top: 30px;
    font-size: 2em;
}


.project_text {
    display: none;
    font-size: 18px;
    padding: 10px;
    padding-top: 40px;
    color: white;
    /*font-variant: small-caps;*/
    font-weight: bold;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    -webkit-text-stroke: 0.4px #D11D0D;
}

.Tableau .project_text,
.Conference_Papers .project_text,
.HCI .project_text,
.Data_Analytics .project_text,
.Information_System_Prototype .project_text {
    color: black;
    -webkit-text-stroke: 0.2px #5EF6F3;
}

a:hover .text,
a:hover .project_img {
    display: none;
}


/* @media */
@media screen and (max-width:480px) {
    #welcome-section {
        height: 100px;
        padding: 10px;
        margin: 5px;
            text-align: center;

    }

    #work {
        margin-top: 200px;
    }

    .project_tile {
        background: #585582;
    }
    .project_tile .text{
        color:white;
        font-size: 1.5em;
    }
}
