 header {
     height: 100px;
     background-image: url("http://www.attachmax.com/p/2018/11/ppt-template-background-plain-world-of-label-intended-for-ppt-template-background-plain.jpg");
     text-align: center;
     position: fixed;
     width: 100%;
     top: 0;
 }

 .header_h1 {
     padding: 20px;
 }

 .w3-display-container {
     max-width: 1000px;
     /*width:80%;*/
     margin-top: 180px;
     /*
	margin-left: auto;
	margin-right: auto;*/
 }

 .mySlides {
     display: none;
     width: 500px;
     height: 500px;
 }

 .w3-left,
 .w3-right,
 .w3-badge {
     cursor: pointer
 }

 .w3-badge {
     height: 13px;
     width: 13px;
     padding: 0
 }